{{! Button trigger modal }}
<button
  type='button'
  class='btn btn-outline-light position-absolute top-1em right-1em {{if this.isHidden "visually-hidden" ""}}'
  {{on 'click' this.openModal}}
>
  <Icons::InfoSquare class="align-text-bottom" />
  <span class="visually-hidden">
    Information
  </span>
</button>

{{! Modal }}
<BsModalSimple
  @title='Information'
  @open={{this.isModalOpen}}
  @onHidden={{this.closeModal}}
  @closeTitle="Got it"
>
  <p>
    Welcome to your ZenPage!
    Here you can take a moment and relax or go on a new journey, if you feel like it.
  </p>

  <p>
    This site does not collect any personal information.
    But be aware that it is served by a thirdparty provider. Refer to their <a href="https://surge.sh/privacy" target="_blank">Privacy Policy</a> to learn more.
  </p>

  <p>
    Images provided by <a href="https://unsplash.com" target="_blank" rel="noopener noreferrer">Unsplash</a>.
  </p>

  <p>zenpage v{{this.version}}</p>
</BsModalSimple>
