<form onsubmit='return false;'>
  <div class='mb-3 form-check'>
    <Input
      @type='checkbox'
      class='form-check-input'
      id='hide-search-bar'
      @checked={{mut (get this 'hideSearchBar')}}
    />
    <label class='form-check-label' for='hide-search-bar'>
      Hide Search Bar
    </label>
  </div>

  <div class='mb-3 form-check'>
    <Input
      @type='checkbox'
      class='form-check-input'
      id='hide-time-display'
      @checked={{mut (get this 'hideTimeDisplay')}}
    />
    <label class='form-check-label' for='hide-time-display'>
      Hide Time Display
    </label>
  </div>

  <div class='mb-3 form-check'>
    <Input
      @type='checkbox'
      class='form-check-input'
      id='hide-info-button'
      @checked={{mut (get this 'hideInfoButton')}}
    />
    <label class='form-check-label' for='hide-info-button'>
      Hide Info Button
    </label>
  </div>

  <div class='mb-3'>
    <h6>Search engine presets</h6>
    <div
      id="search-engine-preset-select"
      class='btn-group'
      role='group'
      aria-describedby='search-engine-preset-help'
    >
      <Input
        @type='checkbox'
        class='btn-check'
        id='btncheckbox-preset-ddg'
        @checked={{call (fn this.getSearchEnginePreset "duckduckgo")}}
        {{on "change" (fn this.setSearchEnginePreset "duckduckgo")}}
      />
      <label
        class='btn btn-outline-primary'
        for='btncheckbox-preset-ddg'
      >DuckDuckGo</label>

      <Input
        @type='checkbox'
        class='btn-check'
        id='btncheckbox-preset-ecosia'
        @checked={{call (fn this.getSearchEnginePreset "ecosia")}}
        {{on "change" (fn this.setSearchEnginePreset "ecosia")}}
      />
      <label
        class='btn btn-outline-primary'
        for='btncheckbox-preset-ecosia'
      >Ecosia</label>

      <Input
        @type='checkbox'
        class='btn-check'
        id='btncheckbox-preset-custom'
        @checked={{call (fn this.getSearchEnginePreset "custom")}}
        {{on "change" (fn this.setSearchEnginePreset "custom")}}
      />
      <label
        class='btn btn-outline-primary'
        for='btncheckbox-preset-custom'
      >Custom</label>
    </div>
    <div id='search-engine-preset-help' class='form-text'>e.g. Select a
      preconfigured search engine</div>
  </div>
  <div class='mb-3'>
    <label for='search-engine-input' class='form-label'>Search engine query URL</label>
    <Input
      @type='text'
      class='form-control'
      id='search-engine-input'
      aria-describedby='search-engine-help'
      @value={{mut (get this 'searchEngineUrl')}}
      disabled={{if this.configureSearch false true}}
    />
    <div id='search-engine-help' class='form-text'>e.g.
      https://duckduckgo.com?q=</div>
  </div>

  <div class='mb-3 form-check'>
    <Input
      @type='checkbox'
      class='form-check-input'
      id='configure-background'
      @checked={{mut (get this 'configureBackground')}}
    />
    <label class='form-check-label' for='configure-background'>
      Configure background image
    </label>
  </div>
  <div class='mb-3'>
    <label for='background-url-input' class='form-label'>Background URL</label>
    <Input
      @type='text'
      class='form-control'
      id='background-url-input'
      aria-describedby='background-url-help'
      @value={{mut (get this 'backgroundUrl')}}
      disabled={{if this.configureBackground false true}}
    />
    <div id='background-url-help' class='form-text'>e.g.
      https://images.unsplash.com/photo-1645988293350-37598d35ba3c</div>
  </div>

  <button
    class='btn btn-secondary'
    {{on 'click' this.reset}}
  >Reset</button>
  <button
    type='submit'
    class='btn btn-primary'
    {{on 'click' this.apply}}
  >Apply</button>
</form>
