{{page-title 'Zenpage' replace=true}}

<div
  class="route-container"
  {{prop style=this.background}}
>
  <LinkTo @route="settings" class="btn btn-outline-light">
    <Icons::Gear />
    Settings
  </LinkTo>

  <InfoModal />

  <TimeDisplay @hidden={{@model.hideTimeDisplay}} />

  <SearchBar @searchEngineUrl={{@model.searchEngineUrl}} @configureSearch={{@model.configureSearch}} @hidden={{@model.hideSearchBar}} />

  {{outlet}}
</div>
