{{page-title 'Zenpage' replace=true}}

<div
  class='route-container'
  {{prop style=this.background}}
>
  <LinkTo @route="settings" class="settings-link">
    Settings
  </LinkTo>

  <TimeDisplay @hidden={{@model.hideTimeDisplay}} />

  <SearchBar @searchEngineUrl={{@model.searchEngineUrl}} @hidden={{this.model.hideSearchBar}} />

  {{outlet}}
</div>
